.create-container{
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.create-title{
    margin-bottom: 2rem;
}
.create-form{
    max-width: 90vw;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 8px;
    width: 60%;
}

.create-input{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.create-input label{
    width: 7rem;
}

.create-input input,.create-input textarea{
    width: 100%;
    background-color: transparent;
    color: black;
}
.create-input textarea{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    height: 50vh;
}

.create-button{
    padding-right: 1rem;
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width: 768px) {
    .create-container{
        margin: 1rem;
        padding: 1rem;
    }
    .create-form{
        width: 100%;
    }
}