.main-container{
}

.section{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: #333333;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 9px;
}