.navbar-container{
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  background-color: #FFFFFF;
  color: #333333;
  display: flex;
  justify-content: center;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 9px;

}

.navbar-container ul{
  width: 50%;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-around;
  text-decoration: none;
}
.nav-links li{
  min-width: 5rem;
  text-align: center;
  font-size: smaller;
}

.active-link {
}

.nav-link {
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  font-weight: bold;
}